<template>
  <footer class="d-flex justify-content-around py-4 fixed-bottom footer-novo">
    <img class="logo-footer img-fluid" src="../../assets/img/logoInsulin.svg" alt="">
    <img class="mujer-footer img-fluid" src="../../assets/img/mujer-microscopio.svg" alt="">
    <div class="topuser-footer">
      <p class="text-faileasy-description mb-0 "> TOP </p>
      <a @click.prevent="handleGoToTop" href="#">
      <img class="img-fluid trophy-footer" src="../../assets/img/trophy.svg" alt="">
      </a>
    </div>
  </footer>
</template>
<script>
export default {
  methods:{
    handleGoToTop(){
      this.$router.push('/score');
    }
  }
}
</script>
<style lang="scss">
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/grid";
@import "../../assets/css/colors";

.logo-footer{
  width: 38%;
}
.mujer-footer{
  width: 58%;
}
.trophy-footer{
  width: 85%;
}
.topuser-footer{
  position: absolute;
  right: -8%;
  bottom: 15%;
}
@include media-breakpoint-up(xs) { 
  .footer-novo{
    position: inherit;
  }
  .topuser-footer{
    right: -5%;
  }
}
@include media-breakpoint-up(md) { 
  .logo-footer{
    width: 30%;
  }
  .mujer-footer{
    width: 46%;
  }

  .topuser-footer{
    right: 2%;
  }
}
@include media-breakpoint-up(lg) { 
  .logo-footer{
    width: 22%;
  }
  .mujer-footer{
    width: 40%;
  }
  .topuser-footer{
    right: 5%;
  }
}
@include media-breakpoint-up(xl) {
  .logo-footer{
    width: 16%;
  }
  .mujer-footer{
    width: 28%;
  }

  .topuser-footer{
    right: 10%;
  }
}
</style>