<template>
  <header class="d-flex justify-content-around align-items-center py-4 mb-2 header-novo header-relative" v-if="loaded">
     <a  @click.prevent="toggle()" href="#" >
      <img src="../../assets/img/avatar.svg" alt="">
    </a>
    <div v-if="active" class="content-submenu">
      <a href="#">Ver perfil</a>
      <a @click.prevent="handleLogout" href="#">Salir</a>
    </div>
    
    <h3 class="pl-3">{{ user.name }}</h3>
    <div class="d-flex justify-content-end">
      <div class="d-flex flex-column text-center mr-3" >
        <p class="py-0 mb-1 text-uppercase">Tienda</p>
        <span class="badge badge-novo py-0 cursor"  @click.prevent="handleToShop"> 
          <img src="../../assets/img/carshop.svg" alt="">
        </span>
      </div>
      <div class="d-flex flex-column text-center">
        <p class="py-0 mb-1 text-uppercase">Coronas</p>
        <span class="badge badge-novo">{{wallet.crown}}</span>
      </div>
    </div>
    
  </header>
</template>
<script>
import { mapActions, mapState } from 'vuex';
export default {
  data () {
    return {
      active: false
    }
  },
  computed:{
    ...mapState({ 
        user: (state) => state.auth.identifiedUser,
        wallet: (state) => state.game.wallet,
    }),
    loaded() {
      return this.wallet ? true : false
    }
  },
  methods: {
    ...mapActions(['logout']),
    toggle () {
      console.log('toggle');
      this.active = !this.active
    },
    handleLogout(){
      this.logout();
      this.$router.push('/login');
    },
    handleToShop(){
      this.$router.push('/shop');
    }
  },
}
</script>
<style lang="scss">

</style>