$color-background: #FFF;
$color-primary: #003878;
$color-secondary: #d4e8f8;
$color-light: #e2e2e2;

$color-card-1: #fdeef5;
$color-card-2: #f8ecd4;
$color-card-3: #d6e6e5;

$color-text-primary: #003878;
$color-text-secondary: #181515;
$color-text-white: #FFF;
$color-text-gray: #9B9B9B;

$color-site-main: #cde9f9;
// $color-error-view: #707070;