.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}
.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
#mainNav .navbar-brand {
  color: #fff;
}
#mainNav .navbar-nav {
  margin-top: 1rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #003878;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #003878;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #003878;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #003878;
    background: #003878;
  }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
.masthead {
  background-color: $color-secondary;
  background-image: url("../../assets/img/banckground-head.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 7rem;
  padding-bottom: 0.5rem;
  background-position: bottom;
  height: 100vh;
}
@include media-breakpoint-down(sm) { 
  .masthead {
    background-image: none;
    background-color: transparent;
  }
}
@include media-breakpoint-only(md) { 
  .masthead {
    height: 70vh;
  }
}
.masthead {
  padding-top: 10rem;
  padding-bottom: 18.5rem;
}
.site-subtitulo-head h3{
  position: absolute;
  top: 0;
  left: 20%;
  @include font-novo(ApisRegular, 2rem);
  color: $color-primary;
}
.img-foco{
  width: 80%;
  height: 80%;
}
@include media-breakpoint-up(lg) { 
  .site-subtitulo-head h3{
    padding-top: 6rem;
  } 
}
@include media-breakpoint-down(sm) {
  .site-subtitulo-head {
    margin-top: 6rem;
    h3{
      padding-top: 8rem;
      left: 25%;
    } 
    .img-foco{
      width: 95%;
      height: 95%;
    }
  }
}
@include media-breakpoint-only(md) { 
  .site-subtitulo-head {
    margin-top: 6rem;
    h3{
      padding-top: 8rem;
      left: 15%;
    } 
    .img-foco{
      width: 95%;
      height: 95%;
    }
  }
}
.content-site-header{
  .site-title{
    font-size: 7rem;
  }
  h4{
    color: $color-primary;
    @include font-novo(ApisRegular, 3.1rem, bold);
  }
}
@include media-breakpoint-only(md) {
  .content-site-header{
    .site-title{
      font-size: 5rem;
      margin-top: 8rem;
    }
    h4{
      @include font-novo(ApisRegular, 2.1rem, bold);
    }
  }
}
@include media-breakpoint-down(sm) {
  .content-site-header{
    text-align: center;
    .site-title{
      font-size: 4rem;
      margin-top: 3rem;
      text-align: center;
    }
    h4{
      font-size: 2rem;
      text-align: center;
    }
  }
}

.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    // padding-top: 10rem;
    // padding-bottom: 18.5rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}
.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
@include media-breakpoint-down(sm){
  .portfolio{
    margin-top: 12rem;
  } 
}
@include media-breakpoint-down(sm){
  body{
    // background: linear-gradient(90deg, #FFF 65%, $color-secondary 35%);
  }
  // .bg-white{
  //   background-color: transparent !important;
  // }
  .img-footer-site{
    background-image: none !important; 
  }
}
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #1abc9c;
  opacity: 1;
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}
.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #1abc9c;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

.bg-primary-edit{
  background-color: #003878;
  color: white;
}

.btn-start{
  margin: 15rem 15rem 15rem 15rem;
}

.circle-icon1 {
  background: #D4E8F8;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
}

.circle-icon2 {
  background: #FDEEF5;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
}

.circle-icon3 {
  background: #D4E8F8;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.bg-primary1{
  background-color: #FDEEF5;
  color: #545757!important;
}

.bg-primary2{
  background-color: #F8ECD4;
  color: #545757!important;
}

.bg-primary3{
  background-color: #D6E6E5;
  color: #545757!important;
}


.button-container{
  display:inline-block;
  position:relative;
  text-align:center;
}
  
.button-container a{
  text-align:center;
  background-color: #003878;
  border-radius:2.25rem;
  color:white;
  text-transform: uppercase;
  padding: .5rem 3.5rem;
  text-decoration: none;
  font-family: "ApisBlack";
}

@media (min-width: 576px) {
  
  .button-container{
    display:inline-block;
    position:relative;
  }
    
  .button-container a{
    position: absolute;
    bottom:16em;
    right:8.5em;
    background-color: #003878;
    border-radius:2.25rem;
    color:white;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    text-decoration: none;
    font-family: "ApisBlack";
  }
  
}
@media (min-width: 768px) {

  .button-container{
  display:inline-block;
  position:relative;
  }
    
  .button-container a{
    position: absolute;
    bottom:16em;
    right:8.5em;
    background-color: #003878;
    border-radius:2.25rem;
    color:white;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    text-decoration: none;
    font-family: "ApisBlack";
  }
  
}
@media (min-width: 992px) {
  .button-container{
    display:inline-block;
    position:relative;
  }
    
  .button-container a{
    position: absolute;
    bottom:16em;
    right:8.5em;
    background-color: #003878;
    border-radius:2.25rem;
    color:white;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    text-decoration: none;
    font-family: "ApisBlack";
  }
}
@media (min-width: 1200px) {
  .button-container{
    display:inline-block;
    position:relative;
  }
    
  .button-container a{
    position: absolute;
    bottom:16em;
    right:8.5em;
    background-color: #003878;
    border-radius:2.25rem;
    color:white;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    text-decoration: none;
    font-family: "ApisBlack";
  }
}

.button-container2{
  display:inline-block;
  position:relative;
  text-align:center;
}
  
.button-container2 a{
  text-align:center;
  bottom:1.5em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #003878;
  border-radius:2.25rem;
  color:white;
  text-transform: uppercase;
  padding: .5rem 3.5rem;
  text-decoration: none;
  font-family: "ApisBlack";
}

.button-container2-2{
  margin-top: 10rem;
}


@media (min-width: 576px) {
  .button-container2{
    display:inline-block;
    position:relative;
  }

  .button-container2-2{
    margin-top: 0rem;
  }
    
  .button-container2 a{
    position: absolute;
    bottom:1.5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #003878;
    border-radius:2.25rem;
    color:white;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    text-decoration: none;
    font-family: "ApisBlack";
  }
}
@media (min-width: 768px) {
  .button-container2{
    display:inline-block;
    position:relative;
  }

  .button-container2-2{
    margin-top: 5rem;
  }
    
  .button-container2 a{
    position: absolute;
    bottom:1.5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #003878;
    border-radius:2.25rem;
    color:white;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    text-decoration: none;
    font-family: "ApisBlack";
  }
}
@media (min-width: 992px) {
  .button-container2{
    display:inline-block;
    position:relative;
  }

  .button-container2-2{
    margin-top: 5rem;
  }
    
  .button-container2 a{
    position: absolute;
    bottom:1.5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #003878;
    border-radius:2.25rem;
    color:white;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    text-decoration: none;
    font-family: "ApisBlack";
  }
}
@media (min-width: 1200px) {
  .button-container2{
    display:inline-block;
    position:relative;
  }

  .button-container2-2{
    margin-top: 0rem;
  }
    
  .button-container2 a{
    position: absolute;
    bottom:1.5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #003878;
    border-radius:2.25rem;
    color:white;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    text-decoration: none;
    font-family: "ApisBlack";
  }
}


.button-container2 #testimonial-slider{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header2 { 
  font-family: "ApisLight";
  color: #003878;
}

#header2 h2 { 
  font-family: "ApisBlack";
  display:inline;
  color: #003878;
}

.btn-primary-novo{
  background-color: #003878;
  border-radius:2.25rem;
  color:white;
  text-transform: uppercase;
  padding: .5rem 3.5rem;
  text-decoration: none;
  font-family: "ApisBlack";
}



.masthead-col{
  padding-left: 5rem;
}

.masthead-col2{
  padding-right: 1rem;
}

.masthead-col2 h3{
  text-align: center;
}


// .site-subtitulo-head{
//   h3{
//     @include font-novo(ApisRegular, 2.5rem);
//     color: $color-primary;
//   }
// }
// @media (min-width: 768px) {
//   .site-subtitulo-head{
//     h3{
//       @include font-novo(ApisRegular, 2rem);
//       color: $color-primary;
//       padding-top: 7rem;
//     }
//   }
// }
.site-description{
  .page-section-heading {
    @include font-novo(ApisBlack, 4.5rem);
    color: $color-primary;
  }
  h3{
    @include font-novo(ApisRegular, 3.5rem);
    color: $color-primary;
  }
}

.item-site{
  h6.h6-text-novo{
    @include font-novo(ApisBlack, 2.3rem);
    color: $color-text-gray
  }
  p.h3-light{
    @include font-novo(ApisLight, 1.8rem);
    color: $color-primary;
  }
}
.btn-site-primary{
  @include font-novo(ApisBold, 3.5rem);
  &:hover{
    // background-color: $color-site-main;
    background-color: transparent;
    color: $color-primary;
    text-decoration: none;
  }
}
.btn-site-novo{
  @include font-novo(ApisBold, 3.5rem);
  &:hover{
    // background-color: $color-site-main;
    background-color: transparent;
    color: $color-primary;
    text-decoration: none;
  }
}
.site-how-init{
  .page-section-heading {
    @include font-novo(ApisBlack, 5.5rem);
    color: $color-primary;
  }
  .card-novo-site{
    h4{
      @include font-novo(ApisBlack, 3.3rem);
      color: $color-primary;
    }
    p.card-text{
      @include font-novo(ApisRegular, 1.8rem);
      color: $color-text-gray
    }
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
}
.site-top-five{
  .page-section-heading {
    @include font-novo(ApisBlack, 5.5rem);
    color: $color-primary;
  }
}

.img-responsive-novo{
  width: 100% !important;
  max-width: 400px;
  height: auto;
}
.img-footer-site{
  width: 100%;
  height: 510px;
  background-image: url('../img/house.svg');
  background-size: cover;
}
@include media-breakpoint-down(md) {
  .img-footer-site{
    height: 510px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
}

.content-menu{
  display: flex;
  justify-content: start;
  .btn-play-game{
    position: relative;
    display: block;
    overflow: hidden;
    span{
      transition: transform 0.2s ease-out;
      @include font-novo(ApisBold, 2.5rem);
      border-radius: 2.5rem;
      padding: 0.4rem 7rem;
    }
    span:first-child{
      display: inline-block;
      // padding: 10px;
      background-color: $color-primary;
      color: $color-text-white;
      text-transform: uppercase;
    }
    span:last-child{
      color: $color-primary;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
    }
    &:hover{
      span{
        &:first-child{
          transform: translateX(-100%);
        }
        &:last-child{
          transform: none;
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .content-menu{
    justify-content: center;
  }
}
.content-menu[data-animation] a:hover span:last-child {
  transform: none;
}
.content-menu[data-animation="to-left"] a span:last-child {
  transform: translateX(100%);
}
@include media-breakpoint-down(sm){
  .landing-novo{
    background: linear-gradient(90deg, #FFF 65%, $color-secondary 35%);
  }
}