// @include media-breakpoint-up(xs) { 
    
// }
// @include media-breakpoint-up(sm) { 
    
// }
// @include media-breakpoint-up(md) { 
    
// }
// @include media-breakpoint-up(lg) { 
    
// }
// @include media-breakpoint-up(xl) { 
    
// }


// theme novo
.txt-color-secondary{
  color: $color-text-secondary !important;
}
.txt-color-primary{
  color: $color-text-primary !important;
}
.txt-color-white{
  color: $color-text-white !important;
}
.txt-color-gray{
  color: $color-text-gray !important;
}
.bg-primary-novo{
  background-color: $color-primary !important;
}
.bg-secondary-novo{
  background-color: $color-secondary !important;
}
.bg-card-0{
  background-color: $color-card-1 !important;
}
.bg-card-1{
  background-color: $color-card-2 !important;
}
.bg-card-2{
  background-color: $color-card-3 !important;
}
.facil{
  background-color: $color-card-1 !important;
}
.intermedio{
  background-color: $color-card-2 !important;
}
.avanzado{
  background-color: $color-card-3 !important;
}

// End theme novo

/* Create your own theme */
.hvh{
  // height: 70vh;
}
.header-relative{
  position: relative;
}
.content-submenu{
  position: absolute;
  left: 65px;
  top: 65px;
  background: $color-card-2;
  z-index: 10;
  border-radius: 2rem;
  border: 1px solid $color-primary;
  a{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: $color-primary;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    &:hover{
      text-decoration: none;
      background-color: $color-primary;
      color: $color-card-2;
      border-radius: 2rem;
    }
  }
}
@include media-breakpoint-up(lg) {
  // .hvh{
  //   height: 55vh;
  // }
}
.badge-novo{
  background-color: $color-card-1;
  border-radius: 2.5rem;
  border: 2px solid $color-primary;
}
@include media-breakpoint-up(md) {
  .badge-novo{
    font-size: 2rem;
  }
}
.header-novo{
  h3{
    @include font-novo(ApisLight, 2.2rem);
    color: $color-primary;
  }
}
@include media-breakpoint-up(md) {
  .header-novo{
    h3{
      @include font-novo(ApisLight, 2.8rem);
      color: $color-primary;
    }
    p{
      font-size: 2rem;
    }
  }
}
// .footer-novo{
//   background-color: $color-card-1;
// }
.novo-cards{
  margin-left: 8rem;
  margin-right: 8rem;
  h4{
    @include font-novo(ApisBold, 1.8rem);
    text-align: center;
  }
}
@include media-breakpoint-up(xs) { 
  .novo-cards{
    margin-left: 0rem;
    margin-right: 0rem;
  } 
}
@include media-breakpoint-up(md) {
  .novo-cards{
    margin-left: 4rem;
    margin-right: 4rem;
    h4{
      @include font-novo(ApisBold, 2.6rem);
      text-align: center;
      margin-top: 3rem;
    }
  } 
}
@include media-breakpoint-up(lg) {
  .novo-cards{
    margin-left: 6rem;
    margin-right: 6rem;
    h4{
      @include font-novo(ApisBold, 3.6rem);
      text-align: center;
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  } 
}
.card-novo{
  border-radius: 2.5rem;
  border: 2px solid $color-primary;
  padding-top: 4rem;
  padding-bottom: 4rem;
  // -webkit-box-shadow: 6px 5px 17px -4px rgba(0,56,120,0.78); 
  // box-shadow: 6px 5px 17px -4px rgba(0,56,120,0.78);
  h1{
    @include font-novo(ApisBlack, 2.7rem, italic);
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  h5{
    @include font-novo(ApisLight, 1.7rem);
  }
}
@include media-breakpoint-up(md) {
  .card-novo{
    padding-top: 6rem;
    padding-bottom: 6rem;
    h1{
      @include font-novo(ApisBlack, 3.2rem, italic);
    }
    h5{
      @include font-novo(ApisLight, 2.2rem);
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}
@include media-breakpoint-up(lg) {
  .card-novo{
    padding-top: 8rem;
    padding-bottom: 8rem;
    h1{
      @include font-novo(ApisBlack, 4.2rem, italic);
    }
    h5{
      @include font-novo(ApisLight, 3rem);
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}
.btn-primary-novo {
  @include button-variant(
    $color-primary, 
    darken($color-primary, 2%), 
    $color-secondary);
  border-radius: 2.25rem;
  font-family: ApisBlack;
  font-size: 2rem;
  text-transform: uppercase;
  padding: .5rem 3.5rem;
}
@include media-breakpoint-down(sm) {
  .btn-primary-novo {
    font-size: 1.8rem;
  }
}

.btn-secondary-novo {
  @include button-variant(
    $color-card-2, 
    darken($color-card-2, 2%), 
    $color-primary);
  border-radius: 2.25rem;
  font-family: ApisBlack;
  font-size: 2rem;
  text-transform: uppercase;
  padding: .5rem 3.5rem;
}
@include media-breakpoint-down(sm) {
  .btn-secondary-novo {
    font-size: 1.8rem;
  }
}
.bg-intermediete-level{
  background-color: $color-card-2;
}
@include media-breakpoint-up(lg) { 
  .header-quiz{
    h1{
      @include font-novo(ApisBlack, 3.8rem, italic);
    }
  }
}
@include media-breakpoint-up(xs) { 
  .header-quiz{
    h1{
      @include font-novo(ApisBlack, 2.8rem, italic);
    }
  }
}
.question-section{
  h3.txt-question{
    @include font-novo(ApisRegular, 3rem);
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 7rem;   
    margin-right: 7rem; 
    li{
      margin-top: 5rem;
      margin-bottom: 5rem;
      a.avanzado-link{
        &:hover{
          background-color: $color-card-3 !important;
        }
      }
      a.intermedio-link{
        &:hover{
          background-color: $color-card-2 !important;
        }
      }
      a.facil-link{
        &:hover{
          background-color: $color-card-1 !important;
        }
      }
      a.avanzado{
        &:hover{
          background-color: $color-card-3 !important;
        }
      }
      a.content-item{
        text-decoration: none;
        border: 2px solid $color-primary;
        color: $color-primary;
        border-radius: 2rem;
        padding: 2px 1rem;
        position: relative;
        // &:hover{
          // background-color: $color-card-1;
        // }
        p.item-text{
          margin-bottom: 0;
          line-height: 1.4;
          padding-left: 2.5rem;
          @include font-novo(ApisItalic, 2.4rem);
        }
        span.badge-novo-item{
          // background-color: $color-card-1;
          border: 2px solid $color-primary;
          @include font-novo(ApisBlack, 2.8rem);
          border-radius: 2.4rem;
        }
        span.index-option{
          position: absolute;
          top: -5px;
          left: -14px;
        }
      } 
    }
  }
}
@include media-breakpoint-up(xs) { 
  .question-section{
    h3.txt-question{
      @include font-novo(ApisRegular, 2.5rem);
    }
    ul{
      margin-left: 1rem;   
      margin-right: 1rem; 
      li{
        margin-top: 7rem;
        margin-bottom: 7rem;
        a.content-item{
          p.item-text{
            @include font-novo(ApisItalic, 2rem);
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md) { 
  .question-section{
    h3.txt-question{
      @include font-novo(ApisRegular, 3rem);
    }
    ul{
      margin-left: 4rem;   
      margin-right: 4rem; 
      li{
        margin-top: 7rem;
        margin-bottom: 7rem;
        a.content-item{
          p.item-text{
            @include font-novo(ApisItalic, 2rem);
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) { 
  .question-section{
    h3.txt-question{
      // @include font-novo(ApisRegular, 2.5rem);
      margin-top: 5rem;
    }
    ul{
      margin-left: 5rem;   
      margin-right: 5rem; 
      li{
        margin-top: 7rem;
        margin-bottom: 7rem;
        a.content-item{
          p.item-text{
            @include font-novo(ApisItalic, 1.8rem);
          }
        }
      }
    }
  }
}
.bg-image-quiz{
  background-image: url(../img/ciudad.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
}
.score-section{
  table{
    thead{
      th{
        vertical-align: middle !important;
        h5{
          color: $color-primary;;
        }
      }
    }
    tr:nth-of-type(odd){
      td{
        background-color: $color-primary;
      }
      td:last-child{
        background-color: $color-background; //#afafaf;
      }
    }
    tr:nth-of-type(even){
      td{
        background-color: #afafaf;
      }
      td:last-child{
        background-color: $color-background; 
      }
    }
    tr{
      td{
        border: transparent;
      }
    }
    tr{
      td.content-avatar-item{
        vertical-align: middle;
      }
      td.content-name-item{
        width: 40%;
        .top-name-item{
          position: absolute;
          width: 100%;
          h5{
            position: absolute;
            top: 30px;
            left: -30px;
            color: $color-text-white;
          }
        }
      }
      td.content-number-item{
        vertical-align: middle;
        .top-number-item{
          h1{
            @include font-novo(ApisBold, 4.5rem, italic);
            color: $color-card-2;
          }
        }
      }
      td.content-play-item{
        vertical-align: middle;
      }
      td:last-child{
        background-color: $color-background;
      }
    }
  }
}
@include media-breakpoint-down(md) { 
  .score-section{
    table{
      tr{
        td.content-name-item{
          .top-name-item{
            h5{
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
.px-novo{
  margin-left: 8rem;   
  margin-right: 8rem; 
}
@include media-breakpoint-up(xs) { 
  .px-novo{
    margin-left: 2rem;   
    margin-right: 2rem; 
  }
}
@include media-breakpoint-up(md) { 
  .px-novo{
    margin-left: 4rem;   
    margin-right: 4rem; 
  }
}
.content-overlay{
  img{
    position: relative;
    margin-top: -5rem;
  }
  .content-alert{
    background-color: $color-card-2;
    padding: 3.5rem 3rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
   
    p{
      @include font-novo(ApisItalic, 2rem, bold);
      color: $color-text-primary;
    }
  }
  .content-alert-foqui{
    background-image: url('../img/cloud-green.svg');
    background-repeat: no-repeat;
    background-size: 85%;
    width: 310px;
    height: 283px;
    padding-top: 5rem;
    background-position: bottom;
    padding-left: 3rem;
    padding-right: 3rem;
    h3{
      color: $color-text-primary;
      @include font-novo(ApisBold, 2rem);
      margin-bottom: 2rem;
    }
    p{
      @include font-novo(ApisItalic, 1.8rem, bold);
      color: $color-text-primary;
    }
  }
}
.steps-to-success{
  .list-group-item{
    background: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    .step-item{
      display: flex;
      align-items: center;
      h3{
        @include font-novo(ApisRegular, 2rem, bold);
        color: $color-text-primary;
        margin-left: 2rem;
        margin-bottom: 0;
        // color: $color-card-2;
      }
    }
  }
}
.bg-success-register{
  background: linear-gradient(to right, 
   #ffffff 40%, 
   $color-secondary 40%, 
   $color-secondary 60%, 
   rgb(255, 255, 255) 60%);
}
@include media-breakpoint-down(sm){
  .bg-success-register{
    background: linear-gradient(to right, #ffffff 30%, $color-secondary 30%, $color-secondary 70%, white 70%);
  } 
}
@include media-breakpoint-only(md) {
  .bg-success-register{
    background: linear-gradient(to right, #ffffff 30%, $color-secondary 30%, $color-secondary 70%, white 70%);
  } 
}

.bglogin{
  background: linear-gradient(90deg, $color-background 70%, $color-secondary 30%);
  &::before{
    content: '';
    background-image:  url('../img/mundo-arrow.svg');
    background-size: contain;
    display: block;
    width: 30%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    background-position: top right;
  }
}
@include media-breakpoint-down(md) {
  .bglogin{
    &::before{
      background-position: top right;
      width: 35%;
    }
  }
}
@include media-breakpoint-down(sm){
  .form-novo-login{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .bglogin{
    &::before{
      background-position: 190%;
      width: 100%;
    }
  }
}
.carousel-3d-container{
  .carousel-3d-slide{
    border-radius: 0 !important;
    border-color: transparent !important;
    background-color: transparent !important;
    opacity: .4 !important;
    img{
      width: auto;
    }
  }
  .carousel-3d-slide.current{
    opacity: 1;
    // -webkit-box-shadow: 6px 5px 17px -4px rgba(0,56,120,0.78); 
    // box-shadow: 6px 5px 17px -4px rgba(0,56,120,0.78);
  }
  .carousel-3d-slide.left-1{
    transform: translateX(-300px) translateZ(-400px) rotateY(-30deg) !important;
  }
  .carousel-3d-slide.right-1{
    transform: translateX(300px) translateZ(-400px) rotateY(30deg) !important;
  }
  .carousel-3d-controls{
    .prev{
      background-image: url('../img/prev.svg');
      background-repeat: no-repeat;
    }
    .next{
      background-image: url('../img/next.svg');
      background-repeat: no-repeat;
    }
  }
}
@include media-breakpoint-down(xs) { 
  .carousel-3d-container{
    height: 460px !important;
    .carousel-3d-slider{
      display: flex;
      justify-content: center;
      .carousel-3d-slide.current{
        width: 220px !important;
      }
    }
  }
}
.content-clock{
  background-image: url('../img/reloj.svg');
  width: 54px;
  height: 74px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    @include font-novo(ApisBold, 2rem);
  }
}
.bg-text-avanzado{
  background-image: url('../img/avanzado.png');
  background-size: contain;
}
.bg-text-facil{
  background-image: url('../img/facil.png');
  background-size: contain;
}
.bg-text-intermedio{
  background-image: url('../img/intermedio.png');
  background-size: contain;
}
.bg-txt-fail{
  background-image: url("../img/incorrecto.png") !important;
  background-size: contain !important;
  background-repeat-x: no-repeat !important;
}
.bg-txt-congrats{
  background-image: url("../img/felicidades.png") !important;
  background-size: contain !important;
  background-repeat-x: no-repeat !important;
}
.cursor{
  cursor: pointer;
}
.headbandNovo{
  height: 30px;
  h4{
    @include font-novo(ApisMedium, 1.6rem);
  }
  display: flex;
  justify-content: center;
  padding-top: .3rem;
}