@import "node_modules/bootstrap/scss/bootstrap";

@import "mixins";
@import "fonts";
@import "colors";
@import "themenovo";
@import "site";
@import "transitions";


html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px = 1rem! */
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2; 
  font-family: ApisRegular;
}  
*, *:before, *:after {
  box-sizing: inherit;
}
h1{
  font-family: ApisBlack;
  font-size: 4.5rem;
  color: $color-primary;
}
h3{
  font-family: ApisBlack;
  font-size: 2.5rem;
}
h4{
  font-family: ApisBlack;
  font-size: 1.9rem;
}
h5{
  font-family: ApisLight;
  font-size: 1.7rem;
}
p{
  font-family: ApisLight;
  font-size: 1.6rem;
  color: $color-primary;
  line-height: 1.3;
}


.form-control-novo{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid $color-primary;
  background-color: transparent;
  color: $color-primary;
  font-family: ApisLight;
  font-size: 1.6rem;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  height: calc(1.2em + 0.5rem);
  &:focus{
    background-color: transparent;
    border-bottom: 1px solid $color-primary;
  }
}

.form-label-novo{
  margin-bottom: 0;
  font-size: 1.5rem;
  font-family: ApisBold;
  color: $color-primary;
}



.login_view{
  .buton_cancel{
    background-color: #cccccc;
  }
}