<template>
  <div>
    <div class="container-fluid sticky-top bg-white" >
      <div class="container">
        <div class="row no-gutters">
          <div class="col offset-md-1 col-md-9 offset-lg-2 col-lg-8">
            <slot name="headerContent"></slot>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid  px-0 " >
      <div class="container ">
        <div class="row no-gutters">
          <div class="col offset-md-1 col-md-9 offset-lg-2 col-lg-8  bg-card-0">
            <slot name="mainContent"></slot>
          </div>
        </div>
      </div>
    </div>
    <!-- Header component -->
  </div>
</template>
<script>
export default {
  props: {
    bgColorLevel: String
  },
}
</script>