<template>
  <div class="container-fluid bg-success-register" >
    
    <div class="container-lg">
      <div class="row">
        <div class="col offset-md-1 col-md-10 offset-lg-2 col-lg-8 d-flex justify-content-center">
          <slot name="mainContent"></slot>
        </div>
      </div>
      <div class="row">
        <div class="col offset-md-1 col-md-10 offset-lg-2 col-lg-8 d-flex justify-content-center">
          <img src="../../assets/img/focopeople.png" alt="">
        </div>
      </div>
    </div>
  </div>
</template>