<template>
  <header class="masthead text-white">
    <div class="container d-flex flex-column">
      <div class="row">
        <div class="col-md-7 masthead-col content-site-header" align="left">
          <h1 class="site-title pt-5">Bienvenido <br />a NovoClue</h1>
          <h4>el juego de preguntas <br />que te regala grandes sorpresas</h4>
          <br />
          <br />
          <!-- <router-link to="/login" class=" mt-5 btn-play-game">Jugar</router-link> -->
          <div class="content-menu" data-animation="to-left">
            <router-link to="/login" class="btn-play-game" >
              <span>Jugar</span>
              <span>
                Ahora
              </span>
            </router-link>
          </div>
          
        </div>
        <div class="col-md-5 site-subtitulo-head masthead-col2 pt-5">
          <img class="img-foco" src="../../assets/img/foco2x.png" alt="">
          <h3 class="h3-light">
            Con NovoClue <br />
            Obtendrás los <br /> mejores beneficios.
          </h3>
        </div>
      </div>
    </div>
  </header>
</template>