<template>
  <section id="rules" class="page-section site-how-init portfolio ">
    <div class="container mt-5">
      <!-- Portfolio Section Heading-->
      <h2 class="page-section-heading text-center mb-4 mt-5">
        Reglas <br />
        del juego
      </h2>
      <div class="row" align="center">
        <div class="col-md-4">
          <div
            class="card text-white shadow bg-primary1 mb-3"
            style="max-width: 38rem"
          >
            <div class="card-body card-novo-site">
              <h4 class="card-title text-left">01</h4>
              <h4 class="card-title text-center">Crea una cuenta</h4>
              <p class="card-text text-center">
                Ingresa tus datos para crear tu cuenta, estarán seguros y
                protegidos. Para iniciar sesión posteriormente sólo necesitarás
                correo y contraseña.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="card text-white shadow bg-primary2 mb-3"
            style="max-width: 38rem"
          >
            <div class="card-body card-novo-site">
              <h4 class="card-title text-left">02</h4>
              <h4 class="card-title text-center">Tiempo de sesión</h4>
              <p class="card-text text-center">
                Por tu seguridad la sesión permanecerá abierta durante 2hrs
                seguidas y tendrás que iniciar sesión cada vez que entres a
                NovoClue.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="card text-white shadow bg-primary3 mb-3"
            style="max-width: 38rem"
          >
            <div class="card-body card-novo-site">
              <h4 class="card-title text-left">03</h4>
              <h4 class="card-title text-center">Instrucciones</h4>
              <p class="card-text text-center">
                Observa el video que explica detalladamente las reglas del juego
                y los consejos que te da el asistente virtual.
                <br />
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div
            class="card text-white shadow bg-primary2 mb-3"
            style="max-width: 38rem"
          >
            <div class="card-body card-novo-site">
              <h4 class="card-title text-left">04</h4>
              <h4 class="card-title text-center">Selección de nivel</h4>
              <p class="card-text text-center">
                Observa el video que explica detalladamente las reglas del juego
                y los consejos que te da el asistente virtual.
                <br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="card text-white shadow bg-primary3 mb-3"
            style="max-width: 38rem"
          >
            <div class="card-body card-novo-site">
              <h4 class="card-title text-left">05</h4>
              <h4 class="card-title text-center">Incentivo</h4>
              <p class="card-text text-center">
                Cada semana habrá incentivos como “Coronas al doble”, tu asistente virtual te informará y lograrás acumular muchas coronas más.
                <br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="card text-white shadow bg-primary1 mb-3"
            style="max-width: 38rem"
          >
            <div class="card-body card-novo-site">
              <h4 class="card-title text-left">06</h4>
              <h4 class="card-title text-center">Tienda virtual</h4>
              <p class="card-text text-center">
                Cuando juntes varias coronas, accede a la tienda virtual desde el botón de tu puntaje para descubrir los premios que puedes obtener.
                <br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-5">
          <router-link to="/login" class="btn-primary-novo text-uppercase"
            >Jugar</router-link
          >
        </div>
      </div>
    </div>
  </section>
</template>