<template>
  <section  id="features" class="page-section site-description portfolio py-5">
    <div class="container">
      <!-- Portfolio Section Heading-->
      <h2 class="page-section-heading text-center mt-5 mb-0 py-5">
        NovoClue <br />
        esta creado para ti
      </h2>
      <h3 class="text-center mb-4 mt-2 h3-light pb-5">
        al jugar obtendrás <br />grandes beneficios.
      </h3>
      <div class="row pt-5" align="center">
        <div class="col-md-4 item-site">
          <div class="circle-icon3" align="center">
            <img src="../../assets/img/rival.svg" class="img-fluid" />
          </div>
          <h6 class="mt-3 h6-text-novo"
            >Contesta correctamente <br /> y acumula coronas
          </h6>
          <p class="h3-light py-2">
            Puedes acumular todas las coronas<br /> que desees para conseguir<br /> los más grandes premios.
          </p>
        </div>
        <div class="col-md-4 item-site">
          <div class="circle-icon2" align="center">
            <img src="../../assets/img/trofeo.svg" class="img-fluid" />
          </div>
          <h6 class="mt-3 h6-text-novo"
            >Sé el número uno<br /> y mantén tu récord
          </h6>
          <p class="h3-light py-2">
           Que todos sepan de tu conocimiento, <br /> lucha por permanecer en el<br />  top 10 de mejores jugadores.
          </p>
        </div>
        <div class="col-md-4 item-site">
          <div class="circle-icon3" align="center">
            <img src="../../assets/img/shopping.svg" class="img-fluid" />
          </div>
          <h6 class="mt-3 h6-text-novo"
            >Cambia tus coronas <br />por increíbles premios
          </h6>
          <p class="h3-light py-2">
            Entra a la tienda virtual dando<br /> click en tu puntaje y canjea<br /> por tu premio favorito.
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid py-5">
      <div class="row" align="center">
        <div class="col-md-8 nopadding button-container" align="right">
          <router-link to="/login" class="text-uppercase">Jugar</router-link>
          <img src="../../assets/img/heart-site.svg" class="img-fluid" />
        </div>
        <div class="col-md-4 nopadding" align="left">
          <img src="../../assets/img/peoples.svg" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
</script>
<style lang="scss">
</style>