<template>
  <score-layout :bgColorLevel="'bg-intermediete-level'">
    <template v-slot:headerContent>
      <header-game></header-game>
    </template>
    <template v-slot:titleContent>
      <section class="header-quiz text-center">
        <h1 class="pt-2">Intermedio</h1>
        <h1 class="pb-2">10 pts</h1>
      </section>
    </template>
    <template v-slot:mainContent v-if="loaded">
      <section class="score-section text-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="4"> <h1>TOP TEN</h1> </th>
              <th> <h5>Semana 1</h5> </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(top, index) in topUsers" :key="top.id">
              <td class="content-avatar-item">
                <div class="content-score d-flex justify-content-end">
                  <img src="../assets/img/avatar.svg" alt="">
                </div>
              </td>
              <td class="content-number-item">
                <div class="top-number-item">
                  <h1 class="mb-0">{{++index}}°</h1>
                </div>
              </td>
              <td class="content-name-item">
                <div class="top-name-item">
                  <h5 class="align-self-end">{{top.name}} {{top.firstName}}</h5>
                </div>
              </td>
              <td class="content-play-item">
                <div>
                  <img src="../assets/img/play.svg" alt="">
                </div>
              </td>
              <td> <h1 class="crowns-number">{{top.points}}</h1> </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mt-5 pb-4">
          <button 
            type="button" 
            @click.prevent="handleGoToStart"
            class="btn btn-primary-novo text-uppercase">Regresar al juego</button>
        </div>
      </section>
    </template>
    <template v-slot:footerContent>
      <footer-alt></footer-alt>
    </template>
  </score-layout>
</template>

<script>
import ScoreLayout from "./layouts/ScoreLayout";
import HeaderGame from "./shared/Header";
import FooterAlt from './shared/FooterAlt';
import { mapActions, mapState } from "vuex";
export default {
  components: {
    ScoreLayout,
    HeaderGame,
    FooterAlt,
  },
  computed:{
    ...mapState({ 
      topUsers: (state) => state.game.topten,
    }),
    loaded() {
      return this.topUsers.length > 0 ? true : false
    }
  },
  methods: {
    ...mapActions(['getTopUsers', 'updateShowAssitant']),
    handleGoToStart(){
      // this.updateShowAssitant(true);
      this.$router.push('/start');
    }
  },
  mounted() {
    this.getTopUsers(10);
  },
};
</script>