<template>
  <div class="content-clock">
    <!-- <p>Tiempo:</p> -->
    <!-- <img src="../../assets/img/reloj.svg" alt=""> -->
    <span class=""> {{counter}} </span>
  </div>
</template>
<script>
// import { mapActions } from "vuex";

export default {
  props: {
    counter : Number,
  },
}
</script>
<style lang="scss">

</style>